* {
    margin: 0;
    padding: 0;
    font-family: "Tsukushi A Round Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

body {
    width: 100%;
    position: relative;
    text-align: center;
    color: #333;
    background-color: #F5EBD7;
    margin: 0 auto;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

/*---loading---*/
/*
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 120px;
  height: 120px;
}
 
*/
/* Loading テキスト */
/*
.spinner span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
}
*/
/* 1番目のアニメーションの場合 */
/*
.spinner.type1 {
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: #fff rgba(255, 255, 255, 0.12) rgba(255, 255, 255, 0.12);
  -webkit-animation: spinner1_1 1.5s infinite linear forwards;
          animation: spinner1_1 1.5s infinite linear forwards;
}
.spinner.type1 span {
  animation: spinner_loading_text 1.5s infinite linear forwards reverse;
}
*/
 
/* ローディング要素のアニメーション内容 */
/*
@-webkit-keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
 
@keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
*/
 
/* Loading テキストのアニメーション内容 */
/*
@-webkit-keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
*/
/*
@keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
 .box{position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  -webkit-transition: all 1.2s ease; 
          transition: all 1.2s ease;
  color: #03535e; 
  background-color: #fcf2de; 
}
*/
/*
.box.loaded{
  opacity:0;
  visibility:hidden;
  pointer-events:none;
}
*/


/*---header---*/
.header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url(../images/header-1.png) center / cover;
     font-family: "Tsukushi A Round Gothic";
}

.header-logo {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateY(-30%) translateX(-25%);
    -webkit- transform: translateY(-30%) translateX(-25%);
}

h1 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 100px;
    padding-left: 8px;
    margin-bottom: 8px;
    color: #fff;
}

h2 {
    font-size: 20px;
    padding-left: 12px;
    color: #fff;
    text-align: left;
}

nav {
    overflow: hidden;
    background-image: url(/images/background1.jpg);
    width: 100%;
    display: block;
    position: relative;
    padding: 15px 0px 18px 0px;
     font-family: "Tsukushi A Round Gothic";
}

nav a {
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: 0.5s;
    position: relative;
}

nav a:hover {
    border-bottom-style: solid;
    border-bottom-color: #03535e
}

#header-nav {
    text-align: right;
}

#header-nav li {
    display: inline-block;
    list-style-type: none;
    border-left: 1px solid #333;
    padding: 0 10px;
}

#header-nav li:first-child {
    border: none;
}

#header-nav li:last-child {
    margin: 3px;
}

#header-nav figure {
    width: 110px;
    text-align: center;
}

/*---drawer---*/
.drawer{
    z-index: 600;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    background-color: #03535e;
}

/*---タスマニアについて---*/
.about {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url(/images/about-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
     font-family: "Tsukushi A Round Gothic";
}

.map img {
    padding-top: 50px;
    padding-bottom: 60px;
}

.about h3 {
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
}

h3 {
    font-size: 30px;
    padding-top: 90px;
    padding-bottom: 50px;
    margin-top: 8px;
    color: #03535e;
}

p {
    font-size: 15px;
    color: #333;
    margin: 0 auto;
}

.about-p {
    margin: 0 auto;
    background: rgba(252, 242, 222, 0.5);
    padding: 40px;
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.a-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 80%;
    overflow: hidden;
    margin-bottom: 130px;
}

.a-wrapper img {
    width: 250px;
    margin: 0 auto;
}

/* box-shadow: 0 8px 12px rgba(0,0,0,.12);*/

/*---観る---*/
.watch {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
     font-family: "Tsukushi A Round Gothic";
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
}

/*---slider---*/
.slider {
    margin: 100px auto;
    width: 80%;
}

.slider img {
    height: auto;
    width: 95%;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

.slider .fade-text {
    margin: 0 auto;
    position: relative;
    top: 100%;
    text-align: right;
    color: #03535e;
    background-color: #f2f2de;
    padding: 8px;
    font-size: 15px;
    animation: slideTextFade 1.75s ease 0s 1 normal;
}

.slider figure{
    width: 150px;
    height: 30px;
}

@keyframes slideTextFade {

    0%,
    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*---体感する----*/
.feel {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
     font-family: "Tsukushi A Round Gothic";
}

.f-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 80px;
    margin: 0 auto;
     font-family: "Tsukushi A Round Gothic";
}

.title-p {
    width: 920px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.feel figure {
    height: 220px;
    width: 250px;
    margin: 0 auto;
}

.detail {
    position: relative;
    padding: 35px;
    margin: 20px 10px 10px;
    width: 250px;
     font-family: "Tsukushi A Round Gothic";
}

/*---学ぶ---*/
.learn {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
     font-family: "Tsukushi A Round Gothic";
}

.l-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 80px;
}

.learn figure {
    height: 230px;
    width: 250px;
    margin: 0 auto;
}

/*---tips----*/
.tips {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url(/images/tips-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
     font-family: "Tsukushi A Round Gothic";
}

.t-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 80px;
}

.tips .t-detail {
    position: relative;
    background-color: #fff;
    padding: 30px;
    margin: 10px 10px 10px;
    width: 300px;
}

.tips figure {
    width: 300px;
    height: 250px;
}

.tips h4 {
    font-size: 30px;
    margin-top: 8px;
    color: #A1bbd0;
    text-align: left;
}

.tips h5 {
    font-size: 16px;
    padding: 7px;
    margin-top: 8px;
    color: #333;
}

/*----ig----*/
.ig {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url(/images/ig-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
     font-family: "Tsukushi A Round Gothic";
}

.ig .title-p {
    width: 55%;
}

.ig img {
    width: 55%;
    margin: 40px 0px 40px 0px;
}

.ig a {
    color: #f2f2de;
    background-color: #03535e;
    padding: 10px 30px;
    border-radius: 10px;
    border-color: #03535e;
    text-decoration: none;
    margin-bottom: 60px;
    display: inline-block;
    flex: none;
}

.ig a:hover {
    color: #03535e;
    background-color: #f2f2de;
    border-color: #03535e;
}

/*----top----*/
#top {
    transition: all 0.5s;
}

.top a {
    position: fixed;
    top: 80%;
    left: 92%;
}

.top a img{
      display: block;
    width: 80px
}

.top img:hover {
   display: block;
  height: 90px;
  border-radius: 3px;
  margin-top:-5px;
}

.footer {
    color: #333;
    background-color: #a1bbd0;
    padding-top: 8px;
    padding-bottom: 10px;
     font-family: "Tsukushi A Round Gothic";
}

/*---レスポンシブパソコン---*/
@media screen and (max-width: 1500px) {
    .drawer-nav{
/*       z-index: -10;*/
        opacity: 0;
    }
    
    .drawer-toggle{
/*         z-index: -10;*/
        opacity: 0;
    }
    
    .about-p {

        width: 70%;
    }

    #header-nav {
        display: block;
    }

    .pc {
        display: block;
    }

    .phone {
        display: none;
    }
}

/*---レスポンシブipad---*/
@media screen and (max-width : 800px) {
    .drawer-nav {
/*        z-index: 600;*/
        opacity: 1;
    }
    
    .drawer-toggle{
/*       z*/
        opacity: 1;
    }

    #header-nav {
        display: none;
    }

    nav {
        height: 26px;
        position: fixed;
        z-index: 1;
    }

    .header-logo {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit- transform: translateY(-50%) translateX(-50%);
    }

    h1 {

        font-size: 50px;
        padding-left: 8px;
        margin-bottom: 8px;
        color: #fff;
    }

    h2 {
        font-size: 11px;
        padding-left: 10px;
        color: #fff;
        text-align: center;
    }

    .a-wrapper {
        width: 100%;
    }

    .a-wrapper img {
        width: 100%;
        height: 200px;
    }

    .pc {
        display: none;
    }

    .phone {
        display: block;
    }

    .f-wrapper {
        flex-direction: column;
    }

    .l-wrapper {
        flex-direction: column;
    }

    .t-wrapper {
        flex-direction: column;
    }

    .detail {
        width: 60%;
    }

    .title-p {
        width: 80%;
    }

    .ig .title-p {
        width: 75%;
    }

    .ig img {
        width: 75%;
    }
    
    .top a {
    top: 85%;
    left: 92%;
}
    
.top a img{
    width: 50px
}
  
}

/*---レスポンシブスマホ---*/
@media screen and (max-width : 480px) {
    .body {
        font-family: sans-serif;
    }

    .about {
        background-image: url(/images/about-background-phone.png);
    }

    .about-p {
        width: 85%;
        font-size: 12px;
        padding: 15px;
    }

    .detail {
        width: 85%;
    }

    .tips {
        background-image: url(/images/tips-background-phone.png);
    }

    .ig .title-p {
        width: 85%;
    }

    .ig img {
        width: 100%;
    }
    
      .top a {
   display: none;
}
   
}

/*-----fuwat----*/
.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
