/*まだフォントの名前変えてない
@font-face {
    font-family: 'Futura-Med';
    src: url('/fonts/Futura-Med.ttf') format('woff');
    url('/fonts/Futura-Med.ttf') format('truetype');
}
*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    position: relative;
    text-align: center;
    color: #333;
    background-color: #F5EBD7;
    margin: 0 auto;
    font-family: "Tsukushi A Round Gothic";
}

.header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url(../images/header-1.png) center / cover;
}

.header-logo {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateY(-30%) translateX(-25%);
    -webkit- transform: translateY(-30%) translateX(-25%);
}

h1 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 100px;
    padding-left: 8px;
    margin-bottom: 8px;
    color: #fff;
}

h2 {
    font-size: 20px;
    padding-left: 12px;
    color: #fff;
    text-align: left;
}

nav {
    overflow: hidden;
    background-image: url(/images/background1.jpg);
}

nav a {
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #333;
    margin-top: 20px;
    /*    margin-right: 35px;*/
    transition: 0.5s;
    position: relative;
}

nav a:hover {
    border-bottom-style: solid;
    border-bottom-color: #03535e
}

#header-nav {
    text-align: right;
}

#header-nav li {
    display: inline-block;
    list-style-type: none;
    /*
	margin-right:6px;
	padding-left:10px;
*/
    border-left: 1px solid #333;
    padding: 0 10px;
}

#header-nav li:first-child {
    border: none;
}

#header-nav figure {
    width: 120px;
}

/*
#header-nav li+li
{
    border-left:1px
}
*/
.about {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url(/images/about-bg1.png);
    background-position: center center;
  background-repeat: no-repeat;
    background-size: cover;    
}

.about img{
    padding-top: 70px;
}

h3 {
    font-size: 30px;
    padding-top: 90px;
    padding-bottom: 50px;
    margin-top: 8px;
    color: #03535e;
}

p {
    font-size: 15px;
    padding-left: 8px;
    margin-bottom: 8px;
    color: #333;
}

.watch {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.a-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.a-wrapper img{
    width: 250px;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}

.slider {
    margin: 100px auto;
    width: 80%;
}

.slider img {
    height: auto;
    width: 100%;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

.feel {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.f-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.feel figure {
    height: 220px;
    width: 250px;
    margin: 0 auto;
}

.detail {
    position: relative;
    /*    background-color: #fff;*/
    padding: 30px;
    margin: 20px 10px 10px;
    /*
    float: left;
    border-radius: 12px;
*/
}

.feel p {
    padding-left: 0px;
}

.learn {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.l-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.learn figure {
    height: 230px;
    width: 250px;
    margin: 0 auto;
}

.tips {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
     background-image: url(/images/tips-bg.png);
    background-position: center center;
  background-repeat: no-repeat;
    background-size: cover; 
}

.t-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.tips .detail {
    position: relative;
    background-color: #fff;
    padding: 30px;
    margin: 20px 10px 10px;
}

.tips h4{
     font-size: 30px;
    padding: 10px;
    margin-top: 8px;
    color: #A1bbd0;
    text-align: left;
}
.tips h5{
     font-size: 16px;
    padding: 10px;;
    margin-top: 8px;
    color: #333;
}

.ig{
     margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
     background-image: url(/images/ig-bg.png);
    background-position: center center;
  background-repeat: no-repeat;
    background-size: cover; 
}
.ig img {
    width: 50%;
}

.footer {
    color: #333;
    background-color: #a1bbd0;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@media screen and (max-width : 600px) {
    .header-logo {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit- transform: translateY(-50%) translateX(-50%);
    }

    h1 {

        font-size: 25%;
        padding-left: 8px;
        margin-bottom: 8px;
        color: #fff;
    }

    h2 {
        font-size: 20%;
        padding-left: 12px;
        color: #fff;
        text-align: center;
    }
}

@media screen and (max-width : 480px) {}
